{% extends 'layout.html' %}


{% block content %}
    <div class="content">
        <h1>Register</h1>
            <script>
                const alreadyRegistered = "User with that username already exists"
                function register() {
                    const username = document.getElementById('username').value;
                    const password = document.getElementById('password').value;
                    fetch('http://localhost:8080/api/register', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: username,
                            password: password
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data === alreadyRegistered) {
                            alert('User with that username already exists');
                            return;
                        }
                        else{
                            alert('Registered successfully');
                            window.location = '/login';
                        }
                    })
                    .catch(err => {
                        alert('Error registering');
                    })
                }
            </script>
        <div class="form-container">
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <button onclick="register()">Register!</button>
        </div>
{% endblock %}