{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <h1>Add new graph</h1>
        <script>
            if (!document.cookie.includes('token')) {
                window.location = '/login';
            }
            function addgraph() {
                // anti XSS :D
                const title = document.getElementById('title').value.replace(/[\u00A0-\u9999<>\&]/g, i => '&#'+i.charCodeAt(0)+';');
                const content = document.getElementById('content').value.replace(/[\u00A0-\u9999<>\&]/g, i => '&#'+i.charCodeAt(0)+';');
                fetch('http://localhost:8080/api/graph', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${document.cookie.split('=')[1]}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        title: title,
                        content: content
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data === null) window.location = '/login';
                    alert('Graph added successfully');
                    const viewgraphlink = document.getElementById('viewgraphlink');
                    viewgraphlink.innerHTML = `<a href="http://localhost:8000?id=${data.id}" target="_blank"><button>View graph!</button></a>`;
                });
            }
            function copyToClipboard(text) {
                navigator.clipboard.writeText(text);
            }

            function getrandomgraph() {
                const vertices = document.getElementById('vertices').value;
                const edges = document.getElementById('edges').value;
                
                fetch('http://localhost:8080/api/randomgraph', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${document.cookie.split('=')[1]}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        vertices: parseInt(vertices),
                        edges: parseInt(edges)
                    })
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('randomgraph').innerHTML = `<h2>${data.graph}</h2><button onclick="copyToClipboard('${data.graph}')">Copy</button>`;
                });
            }


        </script>
    <div class="form-container">
        <input type="text" id="title" placeholder="Title">
        <input type="text" id="content" placeholder="Content">
        <button onclick="addgraph()">Add Graph!</button>
        <h2>Generate random graph</h2>
        <input type="number" id="vertices" placeholder="Vertices">
        <input type="number" id="edges" placeholder="Edges">
        <button onclick="getrandomgraph()">Get random graph</button>
        <div id="randomgraph"></div>
        <dib id="viewgraphlink"></div>

    </div>
{% endblock %}    